/* topdoc
name: Colors
description: Color variables/swatches. These colors are available as Sass variables that can be imported to use in your projects.
markup: |
  <div class="hd-grid swatches">
    <div class="swatch-container hd-grid__2col">
      <div class="swatch swatch--primary-color"></div>
      <div><code>$primary-color</code></div>
    </div>
    <div class="swatch-container hd-grid__2col">
      <div class="swatch swatch--complementary-color"></div>
      <div><code>$complementary-color</code></div>
    </div>
    <div class="swatch-container hd-grid__2col">
      <div class="swatch swatch--analogous-color"></div>
      <div><code>$analogous-color</code></div>
    </div>
    <div class="swatch-container hd-grid__2col">
      <div class="swatch swatch--complementary-analogous"></div>
      <div><code>$complementary-analogous</code></div>
    </div>
    <div class="swatch-container hd-grid__2col">
      <div class="swatch swatch--complementary-neutral"></div>
      <div><code>$complementary-neutral</code></div>
    </div>
    <div class="swatch-container hd-grid__2col">
      <div class="swatch swatch--complementary-neutral-light"></div>
      <div><code>$complementary-neutral-light</code></div>
    </div>
    <div class="swatch-container hd-grid__2col">
      <div class="swatch swatch--complementary-neutral-dark"></div>
      <div><code>$complementary-neutral-dark</code></div>
    </div>
    <div class="swatch-container hd-grid__2col">
      <div class="swatch swatch--primary-neutral"></div>
      <div><code>$primary-neutral</code></div>
    </div>
    <div class="swatch-container hd-grid__2col">
      <div class="swatch swatch--primary-neutral-light"></div>
      <div><code>$primary-neutral-light</code></div>
    </div>
    <div class="swatch-container hd-grid__2col">
      <div class="swatch swatch--primary-neutral-dark"></div>
      <div><code>$primary-neutral-dark</code></div>
    </div>
    <div class="swatch-container hd-grid__2col">
      <div class="swatch swatch--primary-light"></div>
      <div><code>$primary-light</code></div>
    </div>
    <div class="swatch-container hd-grid__2col">
      <div class="swatch swatch--primary-dark"></div>
      <div><code>$primary-dark</code></div>
    </div>
    <div class="swatch-container hd-grid__2col">
      <div class="swatch swatch--complementary-light"></div>
      <div><code>$complementary-light</code></div>
    </div>
    <div class="swatch-container hd-grid__2col">
      <div class="swatch swatch--neutral-gray"></div>
      <div><code>$neutral-gray</code></div>
    </div>
    <div class="swatch-container hd-grid__2col">
      <div class="swatch swatch--complementary-gray"></div>
      <div><code>$complementary-gray</code></div>
    </div>
  </div>
*/
.swatch--primary-color {
  background: $primary-color;
}

.swatch--complementary-color {
  background: $complementary-color;
}

.swatch--analogous-color {
  background: $analogous-color;
}

.swatch--complementary-analogous {
  background: $complementary-analogous;
}

.swatch--complementary-neutral {
  background: $complementary-neutral;
}

.swatch--complementary-neutral-light {
  background: $complementary-neutral-light;
}

.swatch--complementary-neutral-dark {
  background: $complementary-neutral-dark;
}

.swatch--primary-neutral {
  background: $primary-neutral;
}

.swatch--primary-neutral-light {
  background: $primary-neutral-light;
}

.swatch--primary-neutral-dark {
  background: $primary-neutral-dark;
}

.swatch--primary-light {
  background: $primary-light;
}

.swatch--primary-dark {
  background: $primary-dark;
}

.swatch--complementary-light {
  background: $complementary-light;
}

.swatch--white {
  background: $white;
}

.swatch--neutral-gray {
  background: $neutral-gray;
}

.swatch--complementary-gray {
  background: $complementary-gray;
}
