/* topdoc
name: Colors
description: Color variables/swatches.
markup: |
  <div>
    <div class="swatch swatch--primary-color"></div>
    <div>$primary-color</div>
  </div>
  <div>
    <div class="swatch swatch--complementary-color"></div>
    <div>$complementary-color</div>
  </div>
  <div>
    <div class="swatch swatch--analogous-color"></div>
    <div>$analogous-color</div>
  </div>
  <div>
    <div class="swatch swatch--complementary-analogous"></div>
    <div>$complementary-analogous</div>
  </div>
  <div>
    <div class="swatch swatch--complementary-neutral"></div>
    <div>$complementary-neutral</div>
  </div>
  <div>
    <div class="swatch swatch--complementary-neutral-light"></div>
    <div>$complementary-neutral-light</div>
  </div>
  <div>
    <div class="swatch swatch--complementary-neutral-dark"></div>
    <div>$complementary-neutral-dark</div>
  </div>
  <div>
    <div class="swatch swatch--primary-neutral"></div>
    <div>$primary-neutral</div>
  </div>
  <div>
    <div class="swatch swatch--primary-neutral-light"></div>
    <div>$primary-neutral-light</div>
  </div>
  <div>
    <div class="swatch swatch--primary-neutral-dark"></div>
    <div>$primary-neutral-dark</div>
  </div>
  <div>
    <div class="swatch swatch--primary-light"></div>
    <div>$primary-light</div>
  </div>
  <div>
    <div class="swatch swatch--primary-dark"></div>
    <div>$primary-dark</div>
  </div>
  <div>
    <div class="swatch swatch--complementary-light"></div>
    <div>$complementary-light</div>
  </div>
  <div>
    <div class="swatch swatch--neutral-gray"></div>
    <div>$neutral-gray</div>
  </div>
  <div>
    <div class="swatch swatch--complementary-gray"></div>
    <div>$complementary-gray</div>
  </div>
*/
.swatch--primary-color {
  background: $primary-color;
}

.swatch--complementary-color {
  background: $complementary-color;
}

.swatch--analogous-color {
  background: $analogous-color;
}

.swatch--complementary-analogous {
  background: $complementary-analogous;
}

.swatch--complementary-neutral {
  background: $complementary-neutral;
}

.swatch--complementary-neutral-light {
  background: $complementary-neutral-light;
}

.swatch--complementary-neutral-dark {
  background: $complementary-neutral-dark;
}

.swatch--primary-neutral {
  background: $primary-neutral;
}

.swatch--primary-neutral-light {
  background: $primary-neutral-light;
}

.swatch--primary-neutral-dark {
  background: $primary-neutral-dark;
}

.swatch--primary-light {
  background: $primary-light;
}

.swatch--primary-dark {
  background: $primary-dark;
}

.swatch--complementary-light {
  background: $complementary-light;
}

.swatch--white {
  background: $white;
}

.swatch--neutral-gray {
  background: $neutral-gray;
}

.swatch--complementary-gray {
  background: $complementary-gray;
}
